<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">



	</head>

<body>

	<div id="wrapper">

    	<div id="masthead">
      
      
        	<ol id="nav">
          	<li><a href = '{{url_for('gdisconnect')}}'>{{'Logout'}}</a></li>
          
        	</ol>
      
        
        	<div class="clear"></div>
        
    	</div>
		
		<div class = 'title'>
				<h1><a href = '{{url_for('showCatalogs')}}'>{{'Catalog App'}}</a>
				</h1>
		</div>

			<div id = 'articles'>
				<h6>{{ i.name }}</h6>
		
        		<h3>Description: {{i.description}}</h3>

        		
        		<ol><a href = '{{url_for('editItem', catalog_id = i.id, item_id=i.id) }}'>Edit</a>
        			
        			<a href = '{{url_for('deleteItem', catalog_id = i.id, item_id=i.id) }}'>Delete</a>
        		</ol>
        		
			</div>
	</div>
</body>
    



</html>